editor/aistarter_nodered_linebot.json
[{"id":"6d5334c7.e05d5c","type":"tab","label":"NLC学習の実行","disabled":false,"info":""},{"id":"29df3851.fd2308","type":"tab","label":"回答データベース作成","disabled":false,"info":""},{"id":"5c87a3ab.56a46c","type":"tab","label":"LINE連携","disabled":false,"info":""},{"id":"d5ee186d.9cd4f8","type":"tab","label":"データ削除","disabled":false,"info":""},{"id":"64b274dd.d6d34c","type":"http in","z":"5c87a3ab.56a46c","name":"CallBack","url":"/callback","method":"post","swaggerDoc":"","x":100,"y":220,"wires":[["9809e853.d67e48","841e0efc.57626"]]},{"id":"e67aef6f.c2e3b","type":"http response","z":"5c87a3ab.56a46c","name":"一時応答用","statusCode":"","headers":{},"x":570,"y":260,"wires":[]},{"id":"523d7b99.e12dc4","type":"watson-natural-language-classifier","z":"5c87a3ab.56a46c","name":"NLC Request","mode":"classify","language":"en","classifier":"","x":580,"y":220,"wires":[["17b31d96.c588e2","7b193d44.f5def4"]]},{"id":"17b31d96.c588e2","type":"debug","z":"5c87a3ab.56a46c","name":"Debug(NLC Request)","active":true,"console":"false","complete":"payload","x":780,"y":180,"wires":[]},{"id":"9809e853.d67e48","type":"debug","z":"5c87a3ab.56a46c","name":"Debug（LINE Request)","active":true,"console":"false","complete":"true","x":290,"y":180,"wires":[]},{"id":"c25c779f.7c9118","type":"change","z":"5c87a3ab.56a46c","name":"messageセット","rules":[{"t":"set","p":"linemsg","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.events[0].message.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["523d7b99.e12dc4","e67aef6f.c2e3b"]]},{"id":"377d3ed7.1a6472","type":"debug","z":"5c87a3ab.56a46c","name":"Debug(LINE Reply)","active":true,"console":"false","complete":"payload","x":930,"y":480,"wires":[]},{"id":"ad3350ad.58069","type":"linebot-client","z":"5c87a3ab.56a46c","name":"Reply Message","channelAccessToken":"","channelSecret":"","x":740,"y":480,"wires":[["377d3ed7.1a6472"]]},{"id":"7b193d44.f5def4","type":"function","z":"5c87a3ab.56a46c","name":"NLC結果格納","func":"var answerClass = {};\nanswerClass.confidence = 0;\nmsg.classes = msg.payload.classes;\nfor(var i=0;i<msg.classes.length;i++){\n    if(msg.classes[i].class_name == msg.payload.top_class) {\n        if(answerClass.confidence < msg.classes[i].confidence) {\n            answerClass = msg.payload.classes[i];\n        }\n    }\n}\nmsg.top_class = answerClass;\n\nmsg.payload = answerClass.class_name;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":220,"wires":[["64341d43.5cd864"]]},{"id":"64341d43.5cd864","type":"switch","z":"5c87a3ab.56a46c","name":"確信度評価分岐","property":"msg.top_class.confidence","propertyType":"msg","rules":[{"t":"gt","v":"confidence","vt":"flow"},{"t":"else"}],"checkall":"true","outputs":2,"x":180,"y":440,"wires":[["d5de99ce.3a1158"],["88aa6316.c316a"]]},{"id":"d5de99ce.3a1158","type":"function","z":"5c87a3ab.56a46c","name":"DBに回答問い合わせ","func":"msg.payload = \"class_name:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":400,"wires":[["d5fbdcb1.9fafa"]]},{"id":"88aa6316.c316a","type":"function","z":"5c87a3ab.56a46c","name":"回答なし","func":"msg.answer = flow.get(\"sorryMsg\");\nmsg.ref_url = \"\";\nmsg.confidence = \"0%\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["2faa6d8.b9fd592"]]},{"id":"d5fbdcb1.9fafa","type":"cloudant in","z":"5c87a3ab.56a46c","name":"検索","cloudant":"","database":"answers","service":"NodeRED-LINEBOT-cloudantNoSQLDB","search":"_idx_","design":"index","index":"byClassName","x":570,"y":400,"wires":[["88114399.23507"]]},{"id":"88114399.23507","type":"function","z":"5c87a3ab.56a46c","name":"回答を整形","func":"msg.answer = msg.payload[0].answer;\nmsg.ref_url = msg.payload[0].ref_url;\nmsg.confidence = Math.round(msg.top_class.confidence*100)+\"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["2faa6d8.b9fd592"]]},{"id":"1091ca38.740e46","type":"function","z":"5c87a3ab.56a46c","name":"ログを保存","func":"msg.payload = {};\nmsg.payload.question = msg.linemsg.events[0].message.text; \nmsg.payload.answer = msg.answer;\nmsg.payload.ref_url = msg.ref_url;\nmsg.payload.classes = msg.classes;\nmsg.payload.confidence = msg.confidence;\nmsg.payload.top_class = msg.top_class;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":520,"wires":[["f43ddd2d.21cfd"]]},{"id":"f43ddd2d.21cfd","type":"cloudant out","z":"5c87a3ab.56a46c","name":"問い合わせログ","cloudant":"","database":"faq-log","service":"NodeRED-LINEBOT-cloudantNoSQLDB","payonly":true,"operation":"insert","x":900,"y":520,"wires":[]},{"id":"6b42f4a2.03d87c","type":"comment","z":"6d5334c7.e05d5c","name":"学習実行","info":"","x":80,"y":60,"wires":[]},{"id":"2133507a.a03b6","type":"inject","z":"6d5334c7.e05d5c","name":"質問データに学習データを張付けてからClick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":100,"wires":[["6ba00b12.fcfe64"]]},{"id":"6ba00b12.fcfe64","type":"template","z":"6d5334c7.e05d5c","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":490,"y":100,"wires":[["575109f5.680488"]]},{"id":"575109f5.680488","type":"watson-natural-language-classifier","z":"6d5334c7.e05d5c","name":"NLCのトレーニング","mode":"create","language":"ja","classifier":"","x":680,"y":100,"wires":[["f61dfc11.70acd"]]},{"id":"f61dfc11.70acd","type":"debug","z":"6d5334c7.e05d5c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":880,"y":100,"wires":[]},{"id":"85929dab.f64d5","type":"inject","z":"6d5334c7.e05d5c","name":"classifier(分類機）の一覧取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":200,"wires":[["c19c1d97.d32cd"]]},{"id":"c19c1d97.d32cd","type":"watson-natural-language-classifier","z":"6d5334c7.e05d5c","name":"NLCの状況確認","mode":"list","language":"ja","classifier":"","x":540,"y":200,"wires":[["3226507.4d4e0b"]]},{"id":"3226507.4d4e0b","type":"debug","z":"6d5334c7.e05d5c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":200,"wires":[]},{"id":"c3f80b53.1ecff8","type":"comment","z":"6d5334c7.e05d5c","name":"学習結果の一覧","info":"学習を複数回実行した場合、複数classifier_idが出力されるので日付で判断してください。\n","x":100,"y":160,"wires":[]},{"id":"fc4be07f.48d","type":"comment","z":"d5ee186d.9cd4f8","name":"Cloudant(DB)の回答データ全件削除","info":"","x":160,"y":260,"wires":[]},{"id":"bf9476f4.0f8718","type":"inject","z":"d5ee186d.9cd4f8","name":"cleanup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["c4b00a05.b46ce8"]]},{"id":"c4b00a05.b46ce8","type":"cloudant in","z":"d5ee186d.9cd4f8","name":"全件取得","cloudant":"","database":"answers","service":"NodeRED-LINEBOT-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":240,"y":320,"wires":[["10748248.0ef33e"]]},{"id":"b61e9da0.f5fe1","type":"switch","z":"d5ee186d.9cd4f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":530,"y":320,"wires":[["84149e88.61aa7"],["734e31d4.04577"]]},{"id":"10748248.0ef33e","type":"function","z":"d5ee186d.9cd4f8","name":"キー抽出","func":"context.global.payload=msg.payload;\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\ncontext.global.unitCnt = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["b61e9da0.f5fe1"]]},{"id":"734e31d4.04577","type":"function","z":"d5ee186d.9cd4f8","name":"1件削除","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["70f39616.925df8","14a72708.6c8f09"]]},{"id":"70f39616.925df8","type":"cloudant out","z":"d5ee186d.9cd4f8","name":"削除","cloudant":"","database":"answers","service":"NodeRED-LINEBOT-cloudantNoSQLDB","payonly":false,"operation":"delete","x":818.0000228881836,"y":340.0000104904175,"wires":[]},{"id":"96aa18d1.7fcb28","type":"delay","z":"d5ee186d.9cd4f8","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":380,"wires":[["e1bd6877.4839f8"]]},{"id":"e1bd6877.4839f8","type":"function","z":"d5ee186d.9cd4f8","name":"Fetch","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["b61e9da0.f5fe1"]]},{"id":"84149e88.61aa7","type":"debug","z":"d5ee186d.9cd4f8","name":"","active":true,"console":"false","complete":"false","x":670,"y":300,"wires":[]},{"id":"77671a55.55ec54","type":"comment","z":"d5ee186d.9cd4f8","name":"NLCの学習データを削除する","info":"","x":140,"y":80,"wires":[]},{"id":"908f025.1942d","type":"link in","z":"d5ee186d.9cd4f8","name":"データの初期化(linkin)","links":["14a72708.6c8f09"],"x":115,"y":380,"wires":[["96aa18d1.7fcb28"]]},{"id":"14a72708.6c8f09","type":"link out","z":"d5ee186d.9cd4f8","name":"データの初期化(linkout)","links":["908f025.1942d"],"x":755,"y":380,"wires":[]},{"id":"8e5b3efb.9411a","type":"watson-natural-language-classifier","z":"d5ee186d.9cd4f8","name":"classifierの削除","mode":"remove","language":"en","classifier":"","x":500,"y":140,"wires":[["9e88321.db62bd"]]},{"id":"9e88321.db62bd","type":"debug","z":"d5ee186d.9cd4f8","name":"デバッグログ","active":true,"console":"false","complete":"payload","x":699.9999847412109,"y":140,"wires":[]},{"id":"5dac664c.92b5d8","type":"inject","z":"d5ee186d.9cd4f8","name":"ペイロードに削除したいclassifier_idを入力","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":217.99996948242188,"y":139.99998664855957,"wires":[["8e5b3efb.9411a"]]},{"id":"cc6d3705.339a38","type":"function","z":"29df3851.fd2308","name":"登録準備","func":"context.global.payload = msg.payload;\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["307c3698.81065a"]]},{"id":"70da6ff9.f8449","type":"inject","z":"29df3851.fd2308","name":"回答登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["37b98904.f4a7d6"]]},{"id":"307c3698.81065a","type":"switch","z":"29df3851.fd2308","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":430,"y":180,"wires":[["e748cf6c.8c3ef"],["4dcab296.eb574c"]]},{"id":"4dcab296.eb574c","type":"function","z":"29df3851.fd2308","name":"登録","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["86f5de6c.60696","83c6a834.bd2488"]]},{"id":"e748cf6c.8c3ef","type":"debug","z":"29df3851.fd2308","name":"終了","active":true,"console":"false","complete":"payload","x":550,"y":180,"wires":[]},{"id":"a4acfa54.9505e8","type":"function","z":"29df3851.fd2308","name":"ループ","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["307c3698.81065a"]]},{"id":"86f5de6c.60696","type":"cloudant out","z":"29df3851.fd2308","name":"DBに回答登録","cloudant":"","database":"answers","service":"NodeRED-LINEBOT-cloudantNoSQLDB","payonly":true,"operation":"insert","x":780,"y":220,"wires":[]},{"id":"e3718dfd.927d5","type":"comment","z":"29df3851.fd2308","name":"Cloudant(DB)に回答を登録する","info":"","x":150,"y":60,"wires":[]},{"id":"fd3f3148.bb653","type":"delay","z":"29df3851.fd2308","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":220,"wires":[["a4acfa54.9505e8"]]},{"id":"7a55233.bd859dc","type":"comment","z":"29df3851.fd2308","name":"Cloudant(DB)に検索用のIndexを作成する","info":"","x":180,"y":280,"wires":[]},{"id":"79b51b20.903d04","type":"link in","z":"29df3851.fd2308","name":"初期データ登録(linkin)","links":["83c6a834.bd2488"],"x":55,"y":220,"wires":[["fd3f3148.bb653"]]},{"id":"83c6a834.bd2488","type":"link out","z":"29df3851.fd2308","name":"初期データ登録(linkout)","links":["79b51b20.903d04"],"x":655,"y":240,"wires":[]},{"id":"e419f074.15076","type":"function","z":"29df3851.fd2308","name":"index定義","func":"//作成するindexの中身をmsg.payloadに格納する\nmsg.payload = {\n  \"_id\": \"_design/index\",\n  \"views\": {},\n  \"language\": \"javascript\",\n  \"indexes\": {\n    \"byClassName\": {\n      \"analyzer\": \"standard\",\n      \"index\": \"function (doc) {\\n  index(\\\"class_name\\\", doc.class_name);\\n}\"\n    }\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["4bf9d827.89c1c8"]]},{"id":"4bf9d827.89c1c8","type":"cloudant out","z":"29df3851.fd2308","name":"index登録","cloudant":"","database":"answers","service":"NodeRED-LINEBOT-cloudantNoSQLDB","payonly":true,"operation":"insert","x":440,"y":340,"wires":[]},{"id":"d922f2d5.b0a25","type":"inject","z":"29df3851.fd2308","name":"Index作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":340,"wires":[["e419f074.15076"]]},{"id":"b9419f9c.9c234","type":"comment","z":"6d5334c7.e05d5c","name":"学習進捗確認","info":"NLCの学習状況確認にclassifier_idを入力しデプロイしてください。","x":90,"y":260,"wires":[]},{"id":"ca0ade1d.d33f1","type":"watson-natural-language-classifier","z":"6d5334c7.e05d5c","name":"NLCの学習状況確認","mode":"classify","language":"ja","classifier":"","x":560,"y":300,"wires":[["df438e2d.6c3f2"]]},{"id":"927fb2f3.a3e94","type":"inject","z":"6d5334c7.e05d5c","name":"Classifier_idを右のノードに設定してからClick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":300,"wires":[["ca0ade1d.d33f1"]]},{"id":"df438e2d.6c3f2","type":"debug","z":"6d5334c7.e05d5c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":300,"wires":[]},{"id":"a218774.dee2488","type":"comment","z":"6d5334c7.e05d5c","name":"学習結果確認","info":"NLCの学習結果確認にclassifier_idを入力しデプロイしてください。","x":90,"y":360,"wires":[]},{"id":"ad439505.189a08","type":"watson-natural-language-classifier","z":"6d5334c7.e05d5c","name":"NLCの学習結果確認","mode":"classify","language":"ja","classifier":"","x":560,"y":400,"wires":[["d608a8ba.e8cf38"]]},{"id":"21e4eaff.02ae36","type":"inject","z":"6d5334c7.e05d5c","name":"ペイロードに質問を入力してからClick","topic":"","payload":"NLCの結果がみたい","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":400,"wires":[["ad439505.189a08"]]},{"id":"d608a8ba.e8cf38","type":"debug","z":"6d5334c7.e05d5c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":400,"wires":[]},{"id":"37b98904.f4a7d6","type":"template","z":"29df3851.fd2308","name":"回答データをここにコピペ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":320,"y":120,"wires":[["2049f779.b98e58"]]},{"id":"2049f779.b98e58","type":"csv","z":"29df3851.fd2308","name":"データ変換","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"class_name,answer,ref_url","x":550,"y":120,"wires":[["cc6d3705.339a38"]]},{"id":"2faa6d8.b9fd592","type":"function","z":"5c87a3ab.56a46c","name":"レスポンスの定義","func":"var replyText = msg.answer.replace(/(\\\\r)?\\\\n/g, \"\\n\");\nif (msg.ref_url) replyText += \"\\n\" + msg.ref_url;\nif (msg.confidence) replyText += \"\\n確信度:\" + msg.confidence;\n\nvar reply = { type: \"text\",\n              text: replyText\n            };\nvar values = [msg.linemsg,reply];\nmsg.payload = values;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["ad3350ad.58069","1091ca38.740e46"]]},{"id":"706ec02c.e175c","type":"comment","z":"5c87a3ab.56a46c","name":"チャットへの入力処理","info":"","x":120,"y":60,"wires":[]},{"id":"841e0efc.57626","type":"switch","z":"5c87a3ab.56a46c","name":"type分岐","property":"payload.events[0].message.type","propertyType":"msg","rules":[{"t":"eq","v":"text","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":240,"y":220,"wires":[["c25c779f.7c9118"],["f1a1760a.ffed18"]]},{"id":"f1a1760a.ffed18","type":"function","z":"5c87a3ab.56a46c","name":"テキストメッセージ以外","func":"msg.linemsg = msg.payload;\n\nmsg.answer = flow.get(\"notAccepted\");\nmsg.ref_url = \"\";\nmsg.confidence = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["2faa6d8.b9fd592"]]},{"id":"8d6d2e4f.abc6b","type":"change","z":"5c87a3ab.56a46c","name":"Settings","rules":[{"t":"set","p":"confidence","pt":"flow","to":"0.6","tot":"str"},{"t":"set","p":"sorryMsg","pt":"flow","to":"申し訳ございません。回答が見つかりません。","tot":"str"},{"t":"set","p":"notAccepted","pt":"flow","to":"申し訳ございません。テキストメッセージ以外は受け付けておりません。","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":120,"wires":[[]]},{"id":"feb30225.55e19","type":"inject","z":"5c87a3ab.56a46c","name":"起動時実行","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":120,"wires":[["8d6d2e4f.abc6b"]]}]
